# Explain Dataset

#### Acc_Intakes.csv 
- Age Upon Intake: The age of the animal when it was brought to the facility
- Animal ID: A unique identifier for each animal.
- Animal Type: The species of the animal. In both examples, this is 'Dog'.
- Breed: The breed of the animal.
- Color: The color of the animal's coat.
- Datetime: The date and time when the animal was intake.
- Datetime2: This seems to be a repeat of the intake date and time
- Found Location: The location where the animal was found before being brought to the facility.
- Intake Condition: The health or physical condition of the animal at intake.
- Intake Type: The circumstances under which the animal was brought to the facility.
- Name: The name given to the animal. 
- Sex Upon Intake: The gender and reproductive status of the animal when it arrived.

#### Acc_Outcomes.csv
- Age Upon Outcome: This is the age of the animal at the time they left the facility
- Animal ID: A unique identifier assigned to each animal.
- Animal Type: The species of the animal.
- Breed: The breed of the animal.
- Color: The color of the animal's coat.
- Date of Birth: The birth date of the animal. 
- Datetime: The date and time when the animal left the facility.
- Monthyear: This seems to be a repeat of the outcome date and time
- Name: The name of the animal
- Outcome Subtype: Additional details about the outcome.
- Outcome Type: The general category of the outcome.
- Sex Upon Outcome: The gender and reproductive status of the animal when it left the facility.

# Clearn data before analyze.
#### Import pandas and numpy library

In [13]:
import pandas as pd 
import numpy as np

#### Read file aac_intakes.csv and save as 'aac_intakes' dataframe

In [14]:
##### Read file aac_intakes.csv
aac_intakes = pd.read_csv('aac_intakes.csv')
aac_intakes.sort_values('animal_id')

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
2652,7 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2014-12-19T10:21:00.000,2014-12-19T10:21:00.000,8700 Research Blvd in Austin (TX),Normal,Public Assist,Scamp,Neutered Male
12291,10 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2017-12-07T14:07:00.000,2017-12-07T14:07:00.000,Colony Creek And Hunters Trace in Austin (TX),Normal,Stray,Scamp,Neutered Male
53542,6 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2014-03-07T14:26:00.000,2014-03-07T14:26:00.000,8700 Research in Austin (TX),Normal,Public Assist,Scamp,Neutered Male
41605,10 years,A047759,Dog,Dachshund,Tricolor,2014-04-02T15:55:00.000,2014-04-02T15:55:00.000,Austin (TX),Normal,Owner Surrender,Oreo,Neutered Male
56590,16 years,A134067,Dog,Shetland Sheepdog,Brown/White,2013-11-16T09:02:00.000,2013-11-16T09:02:00.000,12034 Research Blvd in Austin (TX),Injured,Public Assist,Bandit,Neutered Male
...,...,...,...,...,...,...,...,...,...,...,...,...
80173,9 years,A769063,Dog,Australian Shepherd Mix,Blue Merle,2018-03-29T16:42:00.000,2018-03-29T16:42:00.000,Outside Jurisdiction,Normal,Stray,Blue,Neutered Male
80184,2 years,A769064,Other,Bat Mix,Brown,2018-03-29T17:13:00.000,2018-03-29T17:13:00.000,2519 Scarbrough Dr in Travis (TX),Normal,Wildlife,NaN,Unknown
80181,1 year,A769065,Other,Bat Mix,Brown,2018-03-29T17:19:00.000,2018-03-29T17:19:00.000,1122 Walton Ln in Austin (TX),Normal,Wildlife,NaN,Unknown
80172,5 months,A769066,Dog,Labrador Retriever Mix,Black/White,2018-03-29T18:19:00.000,2018-03-29T18:19:00.000,12034 Research Blvd Sb in Austin (TX),Normal,Stray,NaN,Intact Male
80182,10 years,A769067,Dog,Boxer Mix,Brown Brindle,2018-03-29T18:20:00.000,2018-03-29T18:20:00.000,11216 Jollyville Rd 216 in Austin (TX),Aged,Stray,NaN,Spayed Female

#### Read file aac_outcomes.csv and save as 'aac_outcomes' dataframe

In [15]:
##### Read file aac_outcomes.csv
aac_outcomes = pd.read_csv('aac_outcomes.csv')
aac_outcomes.sort_values('animal_id')

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
5236,6 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2007-07-09T00:00:00,2014-03-08T17:10:00,2014-03-08T17:10:00,Scamp,NaN,Return to Owner,Neutered Male
76649,10 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2007-07-09T00:00:00,2017-12-07T00:00:00,2017-12-07T00:00:00,Scamp,NaN,Return to Owner,Neutered Male
20130,7 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2007-07-09T00:00:00,2014-12-20T16:35:00,2014-12-20T16:35:00,Scamp,NaN,Return to Owner,Neutered Male
14602,10 years,A047759,Dog,Dachshund,Tricolor,2004-04-02T00:00:00,2014-04-07T15:12:00,2014-04-07T15:12:00,Oreo,Partner,Transfer,Neutered Male
2117,16 years,A134067,Dog,Shetland Sheepdog,Brown/White,1997-10-16T00:00:00,2013-11-16T11:54:00,2013-11-16T11:54:00,Bandit,NaN,Return to Owner,Neutered Male
...,...,...,...,...,...,...,...,...,...,...,...,...
80641,2 years,A769312,Bird,Chickadee Mix,Red,2016-04-03T00:00:00,2018-04-03T13:32:00,2018-04-03T13:32:00,NaN,Suffering,Euthanasia,Intact Female
80669,4 days,A769320,Cat,Domestic Shorthair Mix,Brown Tabby/White,2018-03-30T00:00:00,2018-04-03T16:00:00,2018-04-03T16:00:00,NaN,Partner,Transfer,Unknown
80665,4 days,A769321,Cat,Domestic Shorthair Mix,Brown Tabby/White,2018-03-30T00:00:00,2018-04-03T16:51:00,2018-04-03T16:51:00,NaN,Partner,Transfer,Unknown
80662,4 days,A769322,Cat,Domestic Shorthair Mix,Brown Tabby/White,2018-03-30T00:00:00,2018-04-03T16:51:00,2018-04-03T16:51:00,NaN,Partner,Transfer,Unknown
80660,4 days,A769323,Cat,Domestic Shorthair Mix,Brown Tabby/White,2018-03-30T00:00:00,2018-04-03T16:51:00,2018-04-03T16:51:00,NaN,Partner,Transfer,Unknown

As you can see in my dataset, the ID column has many duplicated values, 
<br> proving that there are more animals recorded than 2 times, 
<br> I want to examine more deeply exactly how many animals are recorded in the data 
<br> (Not the number recorded by animal),  So I chose to update my data and keep the old data source as recorded history

#### Step 1: Convert data type 
<br> In aac_intakes and aac_outcomes to 'datetime' type
<br> In aac_intakes dataframe, I convert 'datetime','datetime2' to datetime type
<br> and in aac_outcomes dataframe, I do the same thing with 'date_of_birth','datetime','monthyear' columns

#### Step 2: Copy old dataframes and clean the duplicate column 'animal_id' both new dataframes
<br> I keep the history record data in 'aac_intakes' and 'aac_outcomes' dataframes and 
<br> get the update record data and save them in to 'Update_aac_outcomes' and 'Update_aac_outcomes' dataframes

First, I want to delete all duplicate in 2 aac_intakes and aac_outcomes dataframes, 
<br>it is guarantee data that it no rows have same value in every columns.
<br>Second, I select all duplicate rows data from 2 dataframes.
<br>Next, I select rows with newest data base on 'datetime' columns.
<br>And delete all duplicate rows in columns 'animal_id'

In [36]:
####Clearn the data####

# Convert object type to datetime64[ns] type in column datetime
aac_intakes[['datetime','datetime2']] = aac_intakes[['datetime','datetime2']].apply(pd.to_datetime)
aac_outcomes[['date_of_birth','datetime','monthyear']] = aac_outcomes[['date_of_birth','datetime','monthyear']].apply(pd.to_datetime)

# Clearn the duplicate row and nan in data
aac_intakes = aac_intakes.drop_duplicates()
aac_intakes = aac_intakes.dropna(subset = ['animal_id', 'datetime','datetime2'])

aac_outcomes = aac_outcomes.drop_duplicates()
aac_outcomes = aac_outcomes.dropna(subset = ['animal_id', 'date_of_birth','datetime','monthyear'])

# Select all duplicate values in column 'animal_id' in 2 file
ids_in = aac_intakes.animal_id
ids_out = aac_outcomes.animal_id

Duprows_aac_intakes = aac_intakes[ids_in.isin(ids_in[ids_in.duplicated()])].sort_values("animal_id")
Duprows_aac_outcomes = aac_outcomes[ids_out.isin(ids_out[ids_out.duplicated()])].sort_values("animal_id")

# The last time animal had add there information in data
idx_in = Duprows_aac_intakes.groupby('animal_id')['datetime'].idxmax()
new_idx_in = Duprows_aac_intakes.loc[idx_in]

idx_out = Duprows_aac_outcomes.groupby('animal_id')['datetime'].idxmax()
new_idx_out = Duprows_aac_outcomes.loc[idx_out]

# Delete all duplicate values in column 'animal_id' in 2 file
nonDup_aac_intakes = aac_intakes.drop_duplicates(subset=["animal_id"], keep=False)
nonDup_aac_outcomes = aac_outcomes.drop_duplicates(subset=["animal_id"], keep=False)

In [40]:
aac_intakes[ids_in.isin(ids_in[ids_in.duplicated()])].sort_values("animal_id")

age_upon_intake        43
animal_id            6133
animal_type             3
breed                 684
color                 226
datetime            12947
datetime2           12947
found_location       7273
intake_condition        8
intake_type             5
name                 3221
sex_upon_intake         5
dtype: int64

#### Step 3: Combine 2 data from datafarme not duplicate and dataframe was update by 'datetime'
in nonDup_aac_intakes and nonDup_aac_outcomes for non duplicate data
in new_idx_in and new_idx_out for update data

In [6]:
#Combine the data
Update_aac_intakes = pd.concat([nonDup_aac_intakes, new_idx_in])
Update_aac_outcomes = pd.concat([nonDup_aac_outcomes, new_idx_out])

In [7]:
print('New dataset after clearing step in dataframe acc_intakes.csv is',aac_intakes.shape[0], 'rows')
print('New dataset after clearing step in dataframe acc_outcomes.csv is',aac_outcomes.shape[0], 'rows')
print('Dataframe acc_intakes.csv after update have',Update_aac_intakes.shape[0], 'rows')
print('Dataframe acc_outcomes.csv after update have',Update_aac_outcomes.shape[0], 'rows')

New dataset after clearing step in dataframe acc_intakes.csv is 80161 rows
New dataset after clearing step in dataframe acc_outcomes.csv is 80671 rows
Dataframe acc_intakes.csv after update have 72365 rows
Dataframe acc_outcomes.csv after update have 72877 rows

# Answers question

#### Question number 1
I find the most location where pet are found in aac_intakes data history record
by sort_values() method and head() to select top 5

In [48]:
'''1.Is there an area where more pets are found?'''
print(aac_intakes.found_location.value_counts().sort_values(ascending=[False]).head(5))

aac_intakes.groupby(by = 'found_location').count().sort_values(by = 'animal_id').tail().animal_id

found_location
Austin (TX)                          14437
Outside Jurisdiction                   948
Travis (TX)                            921
7201 Levander Loop in Austin (TX)      517
Del Valle (TX)                         411
Name: count, dtype: int64

found_location
Del Valle (TX)                         411
7201 Levander Loop in Austin (TX)      517
Travis (TX)                            921
Outside Jurisdiction                   948
Austin (TX)                          14437
Name: animal_id, dtype: int64

- Answer: There are top 5 area that pets had found, top 1 is Austin (TX) with 14443 pet

#### Question number 2
First, I select rows data in aac_intakes dataframe to find the year record in 2015

Then caculated the highest number by groupby(), count(), sort_values() and max() method to find the month name

and find the highest number of animals had found in 2015

In [55]:
'''2.What is the average number of pets found in a month in the year 2015? 
Are there months where there is a higher number of animals found?'''

# Find the animal had found in 2015
found_2015 = aac_intakes[(aac_intakes['datetime'] > "2015-01-01") & (aac_intakes['datetime'] < "2015-12-31")]

# Find the highest number of animals had found in month in 2015 
Max_month_found_in_2015 = found_2015.groupby(found_2015.datetime.dt.month)['animal_id'].count().sort_values().max()

# The month had highest number of animals had found in 2015
month = found_2015.groupby(found_2015.datetime.dt.month_name())['animal_id'].count().sort_values(ascending=False).index[0]

print('The average number of pets found in every month in 2015: ', round(found_2015.shape[0]/12 ,2))
print(month, 'is the highest number of animals had found with: ', Max_month_found_in_2015)

The average number of pets found in every month in 2015:  1556.33
June is the highest number of animals had found with:  2189
6826

#### Question number 3:
First, I caculated the number of animal had 'Adoption' values in 'outcome_type' 
columns in update dataframe 'Update_aac_outcomes'

Then I caculated the number of animal had take care in shelter in update data 'Update_aac_outcomes'

and caculated Ratio of incoming pets vs. adopted pets

In [13]:
'''3.What is the ratio of incoming pets vs. adopted pets?'''
# Check the number of animal had adoption in aac_outcomes
Adoption_aac_outcomes = Update_aac_outcomes[Update_aac_outcomes['outcome_type'] == 'Adoption']
number_Adoption = Adoption_aac_outcomes.animal_id.count()
print('Number of pets that had adoption in data is',number_Adoption)

#Check the number of animal incoming in aac_intakes
number_aac_intakes = Update_aac_outcomes.shape[0]
number_aac_intakes

# Ratio of incoming pets vs. adopted pets
Ratio = 100/number_aac_intakes * number_Adoption
print('The ratio of incoming pets vs. adopted pets is: ' + str(Ratio.round(3)) + '%')

Number of pets that had adoption in data is 29892
The ratio of incoming pets vs. adopted pets is: 41.017%

#### Question number 4:
I use groupby() and count() method and select 'animal_id' columns in update data 'Update_aac_intakes' to show the resault

In [31]:
'''4. What is the distribution of the types of animals in the shelter?'''
Update_aac_intakes.groupby(Update_aac_intakes.intake_type).animal_id.count()

intake_type
Euthanasia Request      245
Owner Surrender       13551
Public Assist          4325
Stray                 50782
Wildlife               3462
Name: animal_id, dtype: int64

#### Question number 5:

First, I need to find the top 5 breed's name by 'animal_type' = 'Dog'

Then I find the number of adoption base these name

Finally, I caculate the percentage of each breed and show the resault

In [32]:
'''5. What are the adoption rates for specific breeds?
Find the top 5 dog breeds in the shelter (based on count) and then find the adoption percentage of each breed.'''

## Step 1 ##
# Find rows have 'Dog' breed in shelter
breed_Dog_Shelter = Update_aac_intakes[Update_aac_intakes['animal_type'] == 'Dog']
# Find the top 5 'Dog' breed in shelter
top5_breedDog_Shelter = breed_Dog_Shelter.groupby(breed_Dog_Shelter['breed']).animal_id.count().sort_values(ascending=[False]).head(5)

## Step 2 ##
# Find the 'Dog' breed and 'Adoption' outcome_type in Update_aac_outcomes
Dog_outcomes_Adoption = Update_aac_outcomes[(Update_aac_outcomes['animal_type'] == 'Dog') & (Update_aac_outcomes['outcome_type'] == 'Adoption')]
# Group data by 'breed' and count number 
breedDog_outcomes = Dog_outcomes_Adoption.groupby(Dog_outcomes_Adoption['breed']).animal_id.count()

## Step 3 ##
# List values for top 5 dogs in shelter
List1_number = []
for data_row in range(top5_breedDog_Shelter.shape[0]):
    values_data_row = top5_breedDog_Shelter.iloc[data_row]
    List1_number.append(values_data_row)
    
# List values find the number of top 5 dogs in shelter had record in breedDog_outcomes
List2_number = []
for breed in top5_breedDog_Shelter.index:
    data_row = breedDog_outcomes[breedDog_outcomes.index == str(breed)]
    values_data_row = data_row.iloc[0]
    List2_number.append(values_data_row)
    
# List for percentage of top 5 breed dog had adopted in shelter
List3_number = []  
for i in range(top5_breedDog_Shelter.shape[0]):
    number = round(100 / List1_number[i] * List2_number[i],2)
    List3_number.append(number)
    
# List for index use breed's dog data
List_Index = []
for i in top5_breedDog_Shelter.index:
    List_Index.append(i)

# Show the resault by create dataframe by 3 lists
display_Top5_percentage_breedDog = pd.DataFrame(list(zip(List_Index, List1_number, List2_number, List3_number)),
               columns =['Breed_Dog', 'Number_intakes', 'Number_adopted', 'Percentage'])
display_Top5_percentage_breedDog

                   Breed_Dog  Number_intakes  Number_adopted  Percentage
0               Pit Bull Mix            5064            1832       36.18
1    Chihuahua Shorthair Mix            4430            2043       46.12
2     Labrador Retriever Mix            4190            2042       48.74
3        German Shepherd Mix            1665             770       46.25
4  Australian Cattle Dog Mix             957             513       53.61

In [33]:
display_Top5_percentage_breedDog.Number_intakes.mean()

3261.2

#### Question number 6:

Similar to number 5 but instead of find breed dog's name, I find the color's name

In [39]:
'''6. What are the adoption rates for different colorings?
Find the top 5 colorings in the shelter (based on count) and then find the adoption percentage of each color.'''

## Step 1 ##
# Find rows have 'Dog' breed in shelter
breed_Dog_Shelter = Update_aac_intakes[Update_aac_intakes['animal_type'] == 'Dog']
# Find the top 5 'Dog' breed in shelter
top5_colors_Dog_Shelter = breed_Dog_Shelter.groupby(breed_Dog_Shelter['color']).animal_id.count().sort_values(ascending=[False]).head(5)
top5_colors_Dog_Shelter

## Step 2 ##
# Find the 'Dog' breed and 'Adoption' outcome_type in Update_aac_outcomes
Dog_outcomes_Adoption = Update_aac_outcomes[(Update_aac_outcomes['animal_type'] == 'Dog') & (Update_aac_outcomes['outcome_type'] == 'Adoption')]
# Group data by 'color' and count number 
colors_Dog_outcomes = Dog_outcomes_Adoption.groupby(Dog_outcomes_Adoption['color']).animal_id.count()
colors_Dog_outcomes

## Step 3 ##
# List values for top 5 color dog's in shelter
List1_number = []
for values in range(top5_colors_Dog_Shelter.shape[0]):
    values_data_row = top5_colors_Dog_Shelter.iloc[values]
    List1_number.append(values_data_row)

# List values find the number of top 5 dogs in shelter had record in breedDog_outcomes
List2_number = []
for values in top5_colors_Dog_Shelter.index:
    data_row = colors_Dog_outcomes[colors_Dog_outcomes.index == str(values)]
    values_data_row = data_row.iloc[0]
    List2_number.append(values_data_row)
    
# List for percentage of top 5 breed dog had adopted in shelter
List3_number = []  
for i in range(top5_colors_Dog_Shelter.shape[0]):
    number = round(100 / List1_number[i] * List2_number[i],2)
    List3_number.append(number)
    
# List for index use breed's dog data
List_Index = []
for i in top5_colors_Dog_Shelter.index:
    List_Index.append(i)
    
# Show the resault by create dataframe by 3 lists
display_Top5_percentage_colorsDog = pd.DataFrame(list(zip(List_Index, List1_number, List2_number, List3_number)),
               columns =['Color_dog', 'Number_intakes', 'Number_adopted', 'Percentage'])
display_Top5_percentage_colorsDog

     Color_dog  Number_intakes  Number_adopted  Percentage
0  Black/White            4438            2155       48.56
1        Black            2226             941       42.27
2  Brown/White            2093             924       44.15
3    Tan/White            2091             961       45.96
4        White            2082             795       38.18

#### Question number 7.
First, I silce the update data for 'Update_aac_intakes' with 'animal_id', 'sex_upon_intake'
and 'Update_aac_outcomes' with 'animal_id', 'sex_upon_outcome','datetime' columns

Then, I use merge() method to find the intersection data to filter data animal had not spayed/neutered
and Find the animal have spayed/neutered by staff in shelter

Finally, I caculated the time with data had recorded, convert them to month number and caculated 
the average munber of animal had spayed/neutered by staff

In [18]:
'''7. About how many animals are spayed/neutered each month?
This will help the shelter allocate resources and staff. Assume that all intact males and females will be spayed/neutered.'''
##Step 1: Check the first time and the last time that animal's information had record
# Step 1.1 Slice small data to see the 'sex_upon_intake' and 'sex_upon_outcome' column
short_intake = aac_intakes[['animal_id', 'sex_upon_intake']]
short_outcome = aac_outcomes[['animal_id', 'sex_upon_outcome','datetime']]
# Step 1.2 Drop duplicate values in the fisrt time that animal's information had record
new_short_intake = short_intake.drop_duplicates(subset = ['animal_id'])
# Step 1.3 Select the last date that animal's information had record
new_short_outcome = short_outcome.sort_values(by = 'datetime')
new_short_outcome = new_short_outcome.drop_duplicates(subset = ['animal_id'], keep = 'last')

## Step 2: Intersection 2 dataframe to see the each column values
# Use 'pd.merge' and give parameters 'how ='inner'' 
# to return only the rows in which the left table have matching keys values column in the right table
# and 'on' by column you choose
intersection_data = pd.merge(new_short_intake, new_short_outcome, how ='inner', on =['animal_id'])

## Step 3: Find the animal have not spayed/neutered before
intake_no_sp_ne = intersection_data[(intersection_data.sex_upon_intake != 'Spayed Female')
                     | (intersection_data.sex_upon_intake != 'Neutered Male')]

## Step 4: Find the animal have spayed/neutered after leave in shelter
outcome_sp_ne = intake_no_sp_ne[(intake_no_sp_ne.sex_upon_outcome == 'Neutered Male') 
          | (intake_no_sp_ne.sex_upon_outcome == 'Spayed Female')]

## Step 5: Find the animal have spayed/neutered by staff in shelter
filter_data = outcome_sp_ne[((outcome_sp_ne.sex_upon_intake != 'Neutered Male') 
                    & (outcome_sp_ne.sex_upon_outcome == 'Neutered Male')) 
                | ((outcome_sp_ne.sex_upon_intake != 'Spayed Female') 
                    & (outcome_sp_ne.sex_upon_outcome == 'Spayed Female'))]

## Step 6: Find the first time record in data 
# Use .min() method
first_time_record = filter_data['datetime'].min()

## Step 7: Find the last time record in data
# Use .max() method
last_time_record = filter_data['datetime'].max()

## Step 8: Total times had record in data by month
# Use '.np.timedelta64' calculate datetime data type
month_number_recrd = round((last_time_record - first_time_record)/np.timedelta64(1, 'M'),0)

## Step 9: Convert Timedelta to month int
month_number = (last_time_record - first_time_record)/np.timedelta64(1, 'M')

## Step 10: Caculated the average munber of animal had spayed/neutered by staff
print('There are',round(filter_data.shape[0] / month_number,2), 'pets had neutered/spayed each month')

There are 534.92 pets had neutered/spayed each month

# Extra Credit

#### Similar to clearn data step, I use the isin() method to get the duplicated rows in data

In [7]:
'''1.How many animals in the shelter are repeats?, Which animal was returned to the shelter the most?
This means the animal has been brought in more than once.'''
# Read file aac_intakes and find the number of animals in the shelter are repeats
# In aac_intakes, we find the most animal_type was returned to the shelter

Duprows_aac_intakes = aac_intakes[ids_in.isin(ids_in[ids_in.duplicated()])].sort_values("animal_id")
print('There are',Duprows_aac_intakes.shape[0], 'animal are repeats')

# Count the number animal_id are repeats
count_repeat_animal_id = Duprows_aac_intakes.groupby(Duprows_aac_intakes.animal_type).count()

# Get the name type
the_most_animal_type = count_repeat_animal_id.sort_values('animal_id',ascending=[False]).index[0]

# Get the number
the_highest_number_repeat = count_repeat_animal_id.sort_values('animal_id',ascending=[False]).animal_id.iloc[0]
print(the_most_animal_type, 'is the most animal was returned to the shelter with', the_highest_number_repeat, 'times')

There are 13929 animal are repeats
Dog is the most animal was returned to the shelter with 11537 times

In [12]:
ids_in[ids_in.duplicated()].shape[0]

7796

#### 
Step 1: I separate the data in to 2 type, the month and year animal had take in shelter

Then create a list index to count the number of animal following age groups

and show the resault

In [53]:
'''2.What are the adoption rates for the following age groups?
baby: 4 months and less
young: 5 months - 2 years
adult: 3 years - 10 years
senior: 11+
'''

# Find the animal had adoption in outcome_type
adoption_aac_outcomes =  aac_outcomes[aac_outcomes.outcome_type == 'Adoption']
adoption_aac_outcomes

# Drop NA values
adoption_aac_outcomes = adoption_aac_outcomes[adoption_aac_outcomes['age_upon_outcome'].notna()]

# Find the data contain 'month' charater
age_upon_months = adoption_aac_outcomes[adoption_aac_outcomes['age_upon_outcome'].str.contains('month')]

# Find the data contain 'year' charater
age_upon_years = adoption_aac_outcomes[adoption_aac_outcomes['age_upon_outcome'].str.contains("year")]

# Combine 2 data frame above, we have animal data upper 1 month
Upper_1_month = pd.concat([age_upon_months, age_upon_years])

# Subtract rows in 2 datafames to get animal data below 1 month
Lower_1_month = pd.concat([adoption_aac_outcomes,Upper_1_month]).drop_duplicates(keep=False)

#### Filter the data between baby, young, aldult and senior animal by index number.

list_Baby_index = []
list_Young_index = []
list_Aldult_index = []
list_Senior_index = []

##Find data in age_upon_months datafame
# Between 1 month and 1 year
for i in range(age_upon_months.shape[0]):
    List_separate_values = age_upon_months.age_upon_outcome.iloc[i].split(' ')
    if int(List_separate_values[0]) >= 5:
        list_Young_index.append(age_upon_months.age_upon_outcome.index[i])
    else:
        list_Baby_index.append(age_upon_months.age_upon_outcome.index[i])
        
# Upper 1 year
for i in range(age_upon_years.shape[0]):
    List_separate_values = age_upon_years.age_upon_outcome.iloc[i].split(' ')
    if int(List_separate_values[0]) < 3:
        list_Young_index.append(age_upon_years.age_upon_outcome.index[i])
    elif 3 <= int(List_separate_values[0]) <= 10:
        list_Aldult_index.append(age_upon_years.age_upon_outcome.index[i])
    else: 
        list_Senior_index.append(age_upon_years.age_upon_outcome.index[i])
        
print('Baby rate: ',round(100 / adoption_aac_outcomes.shape[0] * int(len(list_Baby_index) + Lower_1_month.shape[0]),3), '%')
print('Young rate: ',round(100 / adoption_aac_outcomes.shape[0] * int(len(list_Young_index)),3), '%')
print('Aldult rate: ',round(100 / adoption_aac_outcomes.shape[0] * int(len(list_Aldult_index)),3), '%')
print('Senior rate: ',round(100 / adoption_aac_outcomes.shape[0] * int(len(list_Senior_index)),3), '%')

Baby rate:  37.435 %
Young rate:  43.176 %
Aldult rate:  18.041 %
Senior rate:  1.347 %

First, I reuse the 'filter_data' dataframe to filter the year in 2015

and silce the data for 'Update_aac_intakes' with 'animal_id', 'sex_upon_intake' columns

and 'Update_aac_outcomes' with 'animal_id', 'sex_upon_outcome','datetime', 'animal_type' columns

Then, I find the animal have spayed/neutered by staff in shelter like question number 7 method and 

caculated the number, I also show the resault cost in code below

In [19]:
'''3. If spay/neuter for a dog costs $100 and a spay/neuter for a cat costs $50,
how much did the shelter spend in 2015 on these procedures?'''

# Select new data have year = 2015 by reusing code 'filter_data' and 'Update_aac_outcomes' in number 7 question
reuse_filter_data_2015 = filter_data[(filter_data['datetime'] > "2015-01-01") & (filter_data['datetime'] < "2015-12-31")]

# Get columns 'animal_id', 'sex_upon_intake' in Update_aac_intakes and 'animal_id', 'sex_upon_outcome','datetime' in Update_aac_outcomes
short_Update_aac_intakes = Update_aac_intakes[['animal_id', 'sex_upon_intake']]
short_Update_aac_outcomes = Update_aac_outcomes[['animal_id', 'sex_upon_outcome','datetime', 'animal_type']]

# Intersection tow short data above
intersection_data = pd.merge(short_Update_aac_intakes, short_Update_aac_outcomes, how ='inner', on =['animal_id'])

# Find the animal have not spayed/neutered before
intake_no_sp_ne = intersection_data[(intersection_data.sex_upon_intake != 'Spayed Female')
                     | (intersection_data.sex_upon_intake != 'Neutered Male')]

# Find the animal have spayed/neutered after leave in shelter
outcome_sp_ne = intake_no_sp_ne[(intake_no_sp_ne.sex_upon_outcome == 'Neutered Male') 
          | (intake_no_sp_ne.sex_upon_outcome == 'Spayed Female')]

# Find the animal have spayed/neutered by staff in shelter
filter_data = outcome_sp_ne[((outcome_sp_ne.sex_upon_intake != 'Neutered Male') 
                    & (outcome_sp_ne.sex_upon_outcome == 'Neutered Male')) 
                | ((outcome_sp_ne.sex_upon_intake != 'Spayed Female') 
                    & (outcome_sp_ne.sex_upon_outcome == 'Spayed Female'))]

# Select data from year = 2015
reuse_filter_data_2015 = filter_data[(filter_data['datetime'] > "2015-01-01") & (filter_data['datetime'] < "2015-12-31")]

# Group data by 'animal_type'
number_SpNe = reuse_filter_data_2015.groupby(reuse_filter_data_2015.animal_type).count()

# Caculated the cost and add them to the list
list_Cost = []
countNumber = 0
for value in number_SpNe.index.tolist():
    if number_SpNe.index[countNumber] == 'Dog':
        list_Cost.append(int(number_SpNe.iloc[countNumber].animal_id) * 100)
    if number_SpNe.index[countNumber] == 'Cat': 
        list_Cost.append(int(number_SpNe.iloc[countNumber].animal_id) * 50)
    countNumber = countNumber + 1

# Show data
animal_type = number_SpNe.index.tolist()
zipped = list(zip(animal_type, list_Cost))
showdata = pd.DataFrame(zipped, columns=['Animal_type', 'Cost'])

print('Total cost for spayed/neutered in 2015 is: ',sum(list_Cost), '$')

showdata

Total cost for spayed/neutered in 2015 is:  482550 $

  Animal_type    Cost
0         Cat  124550
1         Dog  358000

In [20]:
aac_intakes.sort_values('animal_id')

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
2652,7 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2014-12-19T10:21:00.000,2014-12-19T10:21:00.000,8700 Research Blvd in Austin (TX),Normal,Public Assist,Scamp,Neutered Male
12291,10 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2017-12-07T14:07:00.000,2017-12-07T14:07:00.000,Colony Creek And Hunters Trace in Austin (TX),Normal,Stray,Scamp,Neutered Male
53542,6 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2014-03-07T14:26:00.000,2014-03-07T14:26:00.000,8700 Research in Austin (TX),Normal,Public Assist,Scamp,Neutered Male
41605,10 years,A047759,Dog,Dachshund,Tricolor,2014-04-02T15:55:00.000,2014-04-02T15:55:00.000,Austin (TX),Normal,Owner Surrender,Oreo,Neutered Male
56590,16 years,A134067,Dog,Shetland Sheepdog,Brown/White,2013-11-16T09:02:00.000,2013-11-16T09:02:00.000,12034 Research Blvd in Austin (TX),Injured,Public Assist,Bandit,Neutered Male
...,...,...,...,...,...,...,...,...,...,...,...,...
80173,9 years,A769063,Dog,Australian Shepherd Mix,Blue Merle,2018-03-29T16:42:00.000,2018-03-29T16:42:00.000,Outside Jurisdiction,Normal,Stray,Blue,Neutered Male
80184,2 years,A769064,Other,Bat Mix,Brown,2018-03-29T17:13:00.000,2018-03-29T17:13:00.000,2519 Scarbrough Dr in Travis (TX),Normal,Wildlife,NaN,Unknown
80181,1 year,A769065,Other,Bat Mix,Brown,2018-03-29T17:19:00.000,2018-03-29T17:19:00.000,1122 Walton Ln in Austin (TX),Normal,Wildlife,NaN,Unknown
80172,5 months,A769066,Dog,Labrador Retriever Mix,Black/White,2018-03-29T18:19:00.000,2018-03-29T18:19:00.000,12034 Research Blvd Sb in Austin (TX),Normal,Stray,NaN,Intact Male
80182,10 years,A769067,Dog,Boxer Mix,Brown Brindle,2018-03-29T18:20:00.000,2018-03-29T18:20:00.000,11216 Jollyville Rd 216 in Austin (TX),Aged,Stray,NaN,Spayed Female

In [22]:
Duprows_aac_intakes.tail(10)

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
79810,2 months,A768350,Dog,Labrador Retriever Mix,Black/White,2018-03-23 16:06:00,2018-03-23 16:06:00,Austin (TX),Normal,Owner Surrender,Jackie,Neutered Male
79812,1 month,A768350,Dog,Labrador Retriever Mix,Black/White,2018-03-17 14:39:00,2018-03-17 14:39:00,Hampton And Wheless in Austin (TX),Normal,Stray,Jackie,Intact Male
79896,3 months,A768473,Dog,Labrador Retriever Mix,Black/White,2018-03-20 10:57:00,2018-03-20 10:57:00,22718 Big Sandy Drive in Travis (TX),Normal,Stray,*Lamar,Neutered Male
80016,4 months,A768473,Dog,Labrador Retriever Mix,Black/White,2018-03-27 12:26:00,2018-03-27 12:26:00,Austin (TX),Normal,Owner Surrender,*Lamar,Neutered Male
80059,1 year,A768566,Dog,German Shepherd/Nova Scotia Duck Tolling Retri...,Brown/White,2018-03-27 18:39:00,2018-03-27 18:39:00,Austin (TX),Normal,Owner Surrender,El Nino,Neutered Male
80068,1 year,A768566,Dog,German Shepherd/Nova Scotia Duck Tolling Retri...,Brown/White,2018-03-21 15:37:00,2018-03-21 15:37:00,Travis (TX),Normal,Stray,El Nino,Intact Male
80134,10 years,A768644,Dog,Pomeranian Mix,Brown,2018-03-23 10:23:00,2018-03-23 10:23:00,3210 East Martin Luther King Boulevard in Aust...,Normal,Stray,*Carlisle,Intact Male
80132,10 years,A768644,Dog,Pomeranian Mix,Brown,2018-03-28 16:15:00,2018-03-28 16:15:00,Austin (TX),Normal,Owner Surrender,*Carlisle,Neutered Male
80157,1 month,A768895,Dog,German Shepherd Mix,Black/Brown,2018-03-29 11:09:00,2018-03-29 11:09:00,Cedar Park (TX),Normal,Owner Surrender,Missy,Spayed Female
80158,1 month,A768895,Dog,German Shepherd Mix,Black/Brown,2018-03-26 18:43:00,2018-03-26 18:43:00,Austin (TX),Normal,Owner Surrender,Missy,Intact Female